.pBox {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  width: 100%; /* 부모 요소의 폭에 맞춤 */
  padding: 20px; /* 내부 여백 */ /* 그림자 효과 (선택 사항) */
  flex-wrap: wrap;

  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.pColumn {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  align-items: center; /* 중앙 정렬 */
  width: 100%; /* 너비를 100%로 설정 */
  height: 100%; /* 높이를 100%로 설정 */
}
