@import "../../../../../../styles/Common.css";

.serviceName {
  padding-left: 0px !important;
  margin-bottom: 15px;
  margin-left: 10px;
}

.serviceDetailDiv {
  padding-left: 60px;
}

.categoryName {
  padding-left: 50px;
  padding-right: 15px;
}

.evaluationStatusBtn {
  display: flex;
  margin-left: 250px;
  align-items: center;
}

.addTableButton {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  gap: 5px;
  cursor: pointer;
}

.addTableButton button {
  width: 150px;
  border: none;
  padding: 10px 10px;
  border-radius: 3px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
  background-color: white;
  color: black;
}

.tableControlBtn {
  border: none;
  background-color: white;
  color: var(--main--gray);
  cursor: pointer;
}
