@import "../../../../../../styles/Common.css";
.serviceTemplate {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  width: 100%;
  min-height: 750px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 10px;
}

.serviceForm {
  width: 90%;
  height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.serviceDetail {
  width: 96.2%;
  height: 300px;
  padding-left: 45px;
}

.categoryTitle {
  display: flex;
  height: 50px;
  padding-left: 40px;
}

.categoryTitle label {
  font-size: 15px;
  width: 30%;
}

.gradeTasksDetail {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  min-height: 100px;
  width: 100%;
}

.gradeTasksDetail {
  min-height: 300px;
}

.serviceFormButton {
  height: 80px;
}

.tableIconSpan {
  position: relative;
  align-items: center; /* 아이템을 수직 중앙 정렬 */
  font-size: 13px;
  color: var(--main--gray) !important;
}

.serviceFormButton {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  gap: 20px;
}

.addTableButton {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  gap: 5px;
}

.addTableButton button {
  width: 150px;
  border: none;
  padding: 10px 10px;
  border-radius: 3px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
  background-color: white;
  color: black;
}
.taskTitle {
  display: flex;
}

.taskTableDetail {
  width: 100%;
}

.tableControlBtn {
  border: none;
  background-color: white;
  color: var(--main--gray);
}

.serviceForm button {
  cursor: pointer;
}

.modalButton {
  color: black;
}
