.loginPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  background-color: white;

  padding: 60px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 400px;
  position: relative;
}

.loginHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-bottom: 80px;
  transform: translateX(-11%);
}

.loginHeader img {
  height: 55px;
  transform: translateX(+20%);
  object-fit: contain;
}

.loginHeader h3 {
  font-size: 30px;
  color: #333;
}

.loginInputGroup {
  display: flex;
  align-items: center;
  margin: 15px 0px;
  border: 1px solid #ddd;
  height: 30px;
  border-radius: 4px;
  padding: 10px;
  position: relative;
}

.loginInputGroupInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  padding-left: 35px;
}

.loginInputGroup input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  padding-left: 35px;
}

.inputIcon {
  position: absolute;
  left: 10px;
  font-size: 1.2rem;
  color: #aaa;
}

.toggleVisibility {
  position: absolute;
  right: 10px;
  font-size: 1.2rem;
  color: #aaa;
  cursor: pointer;
}

.loginInputGroup.incorrect input {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
  min-height: 20px;
  visibility: hidden;
}

.errorMessage.active {
  visibility: visible;
}

.loginButton {
  width: 100%;
  padding: 15px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 20px;
}

.loginButton:hover {
  background-color: #333;
}
