.customTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.customTable th,
.customTable td {
  padding: 15px 20px;
  text-align: center;
}

.customTable th {
  background-color: white;
  color: #121824;
  font-weight: 700;
  border-bottom: 2px solid #e0e0e0;
  text-transform: uppercase;
}

.customTable tr {
  border-radius: 0.5rem;
}

.customTable tr:nth-child(odd) {
  background-color: #eef8fe;
}

.customTable tr:nth-child(even) {
  background-color: #fcfcfc;
}

.customTable tr:hover {
  background-color: #d4d3d3;
}

.customTable a {
  color: #0056b3;
  text-decoration: none;
  font-weight: 500;
}

.customTable a:hover {
  text-decoration: underline;
}

.customTable td:last-child {
  color: #0056b3;
}

.customTable tr:last-child {
  font-weight: 600;
}
