.middle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: 300px;
  padding: 10px 0px;
}

.totalIndex {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  gap: 5px;
  justify-content: center; /* 요소들을 왼쪽 정렬 */
  margin-bottom: 10px;
  box-sizing: border-box;
}

.totalIndex .title {
  font-size: 1.1rem;
  color: #5a5a5a;
  margin-bottom: 1.1rem;
  font-weight: 600;
}

.totalIndex .value {
  font-size: 2.3rem;
  font-weight: 800;
  color: #0056b3;
}

.totalIndex .subText {
  font-size: 1rem;
  color: #5a5a5a;
  margin-top: 10px;
  font-weight: 600;
}

.monthChart {
  width: 60%;
  background-color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  gap: 5px;
  justify-content: flex-start; /* 요소들을 왼쪽 정렬 */
  margin-bottom: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}
