.contractHeader {
  text-align: center;
  width: 65%;
  height: 200px;
}

.contractHeaderTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contractHeader .titleDetail {
  font-size: 18px;
  margin-bottom: 30px;
}

.stepContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.stepContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
}

.stepLine {
  position: absolute;
  top: 35%; /* 선의 높이 조절 */
  left: 60%; /* 선의 시작점위치 조절 */
  height: 2px;
  background-color: #ddd;
  width: 80%;
  transform: translateY(-50%); /* 선을 수직 중앙 정렬 */
  z-index: 0; /* 선을 원보다 뒤에 배치 */
}

.step {
  display: flex;
  align-items: center;
  position: relative; /* 선과 원 위치 조정을 위해 필요 */
  z-index: 1; /* 원이 선 위에 오도록 설정 */
}

.stepNumber {
  width: 43px;
  height: 43px;
  border: 0.1rem solid #d9d9d9;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkIcon {
  width: 43px; /* 아이콘 너비 */
  height: 43px; /* 아이콘 높이 */
}

.stepLabel {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
  text-align: center;
}

.stepContent:last-of-type .stepLine {
  display: none; /* 마지막 스텝의 선은 숨김 */
}
