@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

#dateSelect {
  border: 0.5px solid rgb(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 120px;
  margin: 0px 5px;
}

body {
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
}

.column {
  width: auto;
  margin: 5px 0px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  flex: 1;
}

.totalGradeBox {
  width: 25%;
  height: 300px;
  background-color: white;
  align-content: center;
  border: 0.5px solid rgb(0, 0, 0, 0.15);
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
  margin: 5px 5px 5px 0px;
}

.grade {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  color: #2c70f4;
  text-align: center;
}

.total {
  font-size: 20px;
  color: #2c70f4;
  text-align: center;
}

select {
  color: rgb(0, 0, 0, 0.5);
  font-family: "IBM Plex Sans KR", sans-serif;
  border: 0.5px solid rgb(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 120px;
  margin: 0px 5px;
}

.dateSelectBox {
  display: flex;
  width: auto;
  height: 40px;
  background-color: white;
  border: 0.5px solid rgb(0, 0, 0, 0.15);
  align-content: center;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
  align-items: center;
}

.dateSelectComponent {
  display: flex;
  float: left;
}

.gradeChart {
  display: grid;
  width: 50%;
  height: 300px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 0.5px solid rgb(0, 0, 0, 0.15);
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
  margin: 5px 5px 5px 0px;
}

.grid {
  display: flex;
  flex-direction: row;
}

.columnContent {
  height: 31%;
  background-color: white;
  border: 0.5px solid rgb(0, 0, 0, 0.15);
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
  align-content: center;
}

.number{
  font-size: xx-large;
}
