.request-table .dropdown {
  width: 100%;
  min-width: 180px;
}

.request-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.additional-select {
  margin-left: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #f6fcff;
  padding: 35px;
  border-radius: 8px;
  width: 70%;
  height: 70%;
  position: relative;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h3 {
  margin: 0;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  color: #59595b;
  outline: none;
}

.request-table {
  width: 100%;
  border-collapse: collapse; /* 테두리 간의 공백 제거 */
}

.request-table td {
  padding: 5px;
  padding-right: 15px;
  border: 1px solid #eeefef;
}

.request-table td:first-child,
.request-table td:nth-child(3) {
  width: 15%;
  background-color: #f6f6f6;
  color: #6d6c6c;
}

.request-table tr {
  height: 30px; /* 행 높이를 30px로 고정 */
}

.request-table label {
  font-weight: bold;
  margin-right: 10px;
}

.request-info-box {
  border: none;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.request-info-box h3 {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.form-section {
  margin-bottom: 20px;
}

.request-content {
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  background-color: #f6f6f6;
  margin-bottom: 15px;
  min-height: 120px;
  margin-bottom: 0;
  max-width: 96%;
}

textarea.request-content {
  width: 100%;
  height: 125px;
  font-size: 16px;
  color: black;
  border: none;
  border-radius: 5px;
  resize: none;
}

textarea.request-content::placeholder {
  color: #d9d9d9;
  font-weight: bold;
}

.form-footer {
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.required {
  color: red;
  margin-right: 5px;
}

input[type="text"] {
  height: 35px;
  width: 101%;
  padding: 10px;

  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: black;
  outline: none;
}

.request-info-box input[type="text"]::placeholder {
  color: #d9d9d9;
  font-weight: 800;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

/* 스크롤 디자인 */
::-webkit-scrollbar {
  margin-right: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff; /* 트랙 배경색 */
  border-radius: 10px; /* 둥근 모서리 */
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d6c6c;
}
