.dropdown {
  position: relative;
  display: inline-block;
  width: 15%;
}

.dropdown-content {
  margin-top: 5px;
  position: absolute;
  background-color: white;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
}

.dropdown-btn {
  background-color: #fff;
  color: #333;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 20 20"><polygon fill=\'%23333\' points="0,0 20,0 10,10"/></svg>'); /* 드롭다운 화살표 아이콘 */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f6fcff;
}

.dropdown-btn:focus {
  border: 2px solid;
  border-color: black;
  outline: none;
}
