.pdfDownloadButton {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-image: url("../assets/images/pdf-removebg-preview.png"); /* 이미지 경로 */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.etableContainer {
  margin: 30px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.etableHeader {
  display: flex;
  justify-content: space-between;
}

.etableContainer h3 {
  font-size: 0.9rem;
  margin-bottom: 15px;
  text-align: left;
  margin-top: 20px;
}

.etableContainer span {
  font-weight: 500;
  font-size: 0.9rem;
  color: #555;
}

.ecustomTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.ecustomTable th,
.ecustomTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 0.7rem;
}

.ecustomTable th {
  background-color: #e5e4e4;
  font-weight: 600;
}

.ecustomTable tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.ecustomTable tr:nth-child(even) {
  background-color: #ffffff;
}
.egrayButton {
  margin-top: 20px;
  width: 98px;
  height: 36px;
  background-color: #a4a4a4;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
