@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");

body {
  font-family: "IBM Plex Sans KR", sans-serif;
  background-color: #f0f4f8;
  width: 100%;
  height: 100vh;
  margin: 0;
}

/* 사이드바 스타일 */
.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 15rem;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #121824;
  color: white;
  opacity: 0;
  visibility: hidden;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.1rem;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

/* 작은 화면에 맞춘 사이드바 스타일 */
@media (max-width: 768px) {
  .nav {
    width: 12rem;
  }
}

@media (max-width: 576px) {
  .nav {
    width: 10rem;
    padding: 10px;
  }
}

/* 사이드바 닫기 버튼 스타일 */
.navClose {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.navClose:before,
.navClose:after {
  content: "";
  display: block;
  width: 4px;
  height: 28px;
  background-color: #f0f4f8;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 12px;
  transform-origin: center;
}

.navClose:before {
  transform: rotate(-45deg);
}

.navClose:after {
  transform: rotate(45deg);
}

.navHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 1rem;
}

/* 사이드바 제목 스타일 */
.sidebarTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  transition: color 0.3s;
  margin-left: -10px;
}

.logo {
  width: 7rem;
  height: auto;
  margin-left: -3rem;
}

@media (max-width: 576px) {
  .logo {
    width: 4rem;
  }
}

.navLinkIcon {
  padding: 0.4rem;
}

/* 사이드바 열림 상태 */
.navOffcanvas1.is-opened {
  opacity: 1;
  visibility: visible;
}

/* 메뉴 리스트 스타일 */
.navList {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
}

/* 메뉴 링크 스타일 */
.navLink {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 11px 16px;
  width: 11rem;
  transition: background-color 0.3s;
  border-radius: 20px 0 0 20px;
}

.navLink:hover,
.navLink.active,
.navLink:focus {
  color: #121824;
  background-color: #f0f4f8;
  box-shadow: inset 5px 0 5px -3px rgba(0, 0, 0, 0.4);
}

.navItem2 {
  margin-left: 17px;
  margin-bottom: 7px;
  margin-top: 10px;
}
.navLinkIcon2 {
  padding: 0.4rem;
}

.navItemSmall {
  margin-left: 20px;
  font-size: 0.8rem;
  color: #e2e0e0;
  padding: 1px 20px;
  width: 11rem;
  display: flex;
  align-items: center;
  border-radius: 20px 0 0 20px;
}

/* 로그아웃 버튼 스타일 */
.logoutSection {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 4rem; /* 사이드바 하단에서의 거리 */
  width: 100%; /* 가로 정렬 */
  padding: 1rem 0;
}

.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  padding: 8px;
  background-color: #fff;
  color: #121824;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 4.5rem;
}

.logoutBtn:hover {
  background-color: #f0f0f0;
}

.logoutIcon {
  margin-right: 8px;
}

/* 푸터 스타일 */
.sidebarFooter {
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  position: absolute;
  bottom: 3rem; /* 사이드바 하단에서의 거리 */
  right: 0.7rem;
  width: 100%;
}
