.highchartsFigure,
.highchartsDataTable table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

.highchartsDescription {
  margin: 0 10px;
}

rect {
  height: fit-content;
}

.highchartsDataTable table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highchartsDataTable caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highchartsDataTable th {
  font-weight: 600;
  padding: 0.5em;
}

.highchartsDataTable td,
.highchartsDataTable th,
.highchartsDataTable caption {
  padding: 0.5em;
}

.highchartsDataTable thead tr,
.highchartsDataTable tr:nth-child(even) {
  background: #f8f8f8;
}

.highchartsDataTable tr:hover {
  background: #f1f7ff;
}

#buttonBar {
  min-width: 310px;
  max-width: 800px;
  margin: 0 auto;
}

.highchartsDemoButton {
  background: #f2f2f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem -5px 0.5rem 10px;
  transition: background 250ms;
}

.highchartsDemoButton:hover {
  background: #e6e6e6;
}

g > highchartsLegend {
  display: none;
}
