.listTable {
  width: 95%;
}

.listTableHead,
.listTableBody {
  height: 35px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.headerP {
  font-size: 15px;
  font-weight: 700;
}

.listTableCategory {
  width: 30%;
  text-align: start;
  margin-left: 20px;
}

.isAutoP {
  width: 20%;
  text-align: center;
}

.periodP {
  width: 30%;
  text-align: center;
}

.buttonP {
  width: 20%;
}
.listTableBody:nth-child(odd) {
  background-color: #f1f1f1; /* 파란색 배경 */
  border-radius: 10px;
}

/* 짝수행에 배경색 추가 */
.listTableBody:nth-child(even) {
  background-color: #e7f6ff; /* 회색 배경 */
  border-radius: 10px;
}

.listTableBody {
  margin-bottom: 10px;
}

.buttonP button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 30px;
}

.noData {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}
