.approvalP {
  width: 20%;
}

.dateP {
  width: 20%;
}

.buttonP {
  width: 25%;
}

.deleteBtnP{
  display: flex;
  justify-content: end;
  width: 20%;
}

.deleteBtnP button{
  width: 70px;
  height: 25px;
  background-color:black;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-right: 10px ;
}

.blackButton:hover {
  background-color: #1d2637;
}
