@import "../../../styles/Common.css";
.deleteCol {
  background-color: white !important;
  border: none !important;
  width: 35px !important;
}

.deleteCol svg {
  position: absolute;
  display: none;
  color: var(--main--gray);
  font-size: 11px;
  padding-left: 25px;
}

.deleteCol:hover svg,
.deleteCol:focus svg {
  display: block;
  cursor: pointer;
}

.delete {
  display: flex;
  flex-direction: row;
}

.plusRow {
  border: none !important;
  color: var(--main--gray);
  text-align: left !important;
}

.fullInput {
  height: 35px;
  width: 101%;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.tableRow:hover .deleteCol svg {
  display: block;
  cursor: pointer;
  justify-self: end;
}

.deleteCol {
  position: relative;
}

.deleteTableButton {
  border: none;
  position: absolute;
  background-color: transparent;
  width: 55px;
  left: -20px;
  top: 20px;
  z-index: 2;
  font-size: 13px;
  color: black;
  margin-right: 10px;
  padding: 0px;
}

.plusIcon {
  cursor: pointer;
}
