.select {
  width: 90%;
  text-align: center;
}

.weight {
  text-align: end;
}

.formulaRow {
  height: 100px !important;
}

.formulaRow textarea {
  height: 75px;
}

.formulaRow textarea:focus {
  border-color: black;
  outline: none;
}
