@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");

body {
  font-family: "IBM Plex Sans KR", sans-serif;
  background-color: #f0f4f8;
}
.topIndex {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  gap: 5px;
  justify-content: flex-start; /* 요소들을 왼쪽 정렬 */
  margin-bottom: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}

.star {
  color: red;
}

.criteria2 {
  margin-left: 5px;
  height: 30px;
  font-size: 0.7rem;
  width: 160px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  padding: 0px 5px;
}

.criteria2:focus {
  border-color: #007bff; /* Highlight border on focus */
  outline: none;
}

.queryButton {
  margin-left: auto; /* 버튼을 오른쪽 끝으로 정렬 */
  padding: 3px 4px;
  background-color: #1f2a44; /* Dark background color for the button */
  color: #fff; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
}

.queryButton:hover,
.queryButton:active {
  background-color: #3a4f77; /* Slightly lighter color on hover */
}

.searchIcon {
  margin-left: 0.6rem;
}

.react-datepicker__month-container {
  width: auto;
}

.react-datepicker__monthPicker {
  width: 100%;
}

.react-datepicker__month-wrapper {
  justify-content: space-around; /* 공간을 균등하게 분배 */
}

.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
  width: 3rem !important;
  margin-bottom: 0.5rem !important;
}
