@import "../../../../../../styles/Common.css";

.contractContent {
  display: flex;
  flex-direction: column;
  min-height: 550px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.dateInput {
  position: relative;
  width: 354px;
}

.calendarModal {
  position: absolute;
  z-index: 3; /* 위에 보이게 설정*/
  width: auto;
}

.calendarIcon {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%); /* 중앙 정렬을 위한 변환 */
}

.companyData {
  height: 50px;
  width: 354px;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.companyData:focus {
  border-color: black;
  outline: none;
}

.contractButton {
  display: flex;
  width: 65%;
  height: 80px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
