.contract {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 50px;
  min-height: 500px;
}

.companyInfo {
  text-align: left;
  font-size: 15px;
}


.contractCheck {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.agreement {
  padding-top: 40px;
  text-align: end;
}
