/* Sidebar.css */
@font-face {
  font-family: 'paybooc-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff2') format('woff2'),
       url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'paybooc-Bold', sans-serif;
  width: 100%;
  height: 100vh; /* 화면 전체 높이 */
  margin: 0; /* 기본 여백 제거 */
}

.sidebar {
  width: 15rem;
  background: #121824; /* 사이드바 배경 색상 */
  color: white; /* 글자 색상 */
  height: 100vh; /* 화면 전체 높이 */
  padding: 20px; /* 여백 */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.6); 
  display: flex; /* 플렉스 박스 설정 */
  flex-direction: column; /* 세로 방향으로 배치 */
}

@media (max-width: 768px) {
  .sidebar {
    width: 12rem; /* 작은 화면에서 사이드바 폭 축소 */
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 10rem; /* 더 작은 화면에서 사이드바 폭 축소 */
    padding: 10px; /* 작은 화면에서 여백 축소 */
  }
}



.sidebar .menu a {
  color: white; /* 기본 글자 색상 */
  text-decoration: none; /* 밑줄 제거 */
  display: block;
  padding: 12px;
  padding-left: 30px;
  transition: background-color 0.3s, color 0.3s; /* 애니메이션 */
}

.sidebar-title {
  font-family: 'paybooc-Bold', sans-serif;
  font-size: 2.5rem; /* 제목 크기 */
  font-weight: bold; /* 제목 두께 */
  text-transform: uppercase; /* 대문자 변환 */
  display: inline-block; /* 텍스트와 수평 정렬 */
  color: white; /* 글자 색상 */
  transition: color 0.3s; /* 색상 전환 효과 추가 */
}

.sidebar .menu a:hover {
  color: #121824; /* hover 시 색상 변경 */
  font-weight: bold;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

@media (max-width: 576px) {
  .sidebar-title {
    font-size: 1.5rem; /* 작은 화면에서 제목 크기 조정 */
  }
}

.sidebar .menu a.active {
  color: #121824; /* 클릭 후 활성화된 상태의 글자 색상 */
  background-color: #fff; /* 활성화된 상태의 배경 색상 */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.logo {
  width: 7rem; /* 로고의 폭을 설정 */
  height: auto; /* 비율에 맞춰 높이 자동 조정 */
  display: inline-block; /* 인라인 블록으로 설정하여 텍스트와 수평 정렬 */
  vertical-align: middle; /* 중간 정렬 */
  margin-right: -1rem; /* 텍스트와의 간격 조정 */
  margin-left:-2.3rem;
}

@media (max-width: 576px) {
  .logo {
    width: 4rem; /* 작은 화면에서 로고 크기 축소 */
  }
}

.navList {
  margin-top: 3rem; /* 메뉴와 로고 사이 간격 */
  flex-grow: 1; /* 공간을 차지하게 설정하여 저작권이 아래로 밀림 */
}

.menu a {
  color: white; /* 기본 글자 색상 */
  text-decoration: none; /* 밑줄 제거 */
  display: flex; /* 플렉스 박스로 아이콘과 텍스트 수평 정렬 */
  align-items: center; /* 아이콘과 텍스트 수직 정렬 */
  padding: 12px;
  padding-left: 30px;
  transition: background-color 0.3s, color 0.3s; /* 애니메이션 */
}

.navLinkIcon {
  margin-right: 10px; /* 아이콘과 텍스트 사이 간격 */
}

.menu a.active {
  color: #121824;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


/* 사이드바 스타일 */
aside {
  color: #fff;
  width: 250px;
  padding-left: 20px;
  height: 100%; /* 100% 높이 설정 */
}

aside a {
  font-size: 15px;
  color: #fff;
  display: block;
  padding: 12px;
  padding-left: 30px;
  text-decoration: none;
  -webkit-tap-highlight-color:transparent;
}


aside a:hover {
  color: #121824; /* hover 시 텍스트 색상을 검정색으로 변경 */
  background: #fff;
  outline: none;
  position: relative;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}



/* hover 시 오른쪽으로 퍼지는 효과 */
aside a:hover::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 20px 0 0 #fff;
}

aside a:hover::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 38px;
  right: 0;
  height: 35px;
  width: 35px;
  border-top-right-radius: 18px;
  box-shadow: 0 -20px 0 0 #fff;
}

aside p {
  margin: 0; /* 기본 여백 제거 */
  padding: 40px 0; /* 패딩 */
}


