.yearMonthPicker {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 341px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    justify-content: space-around;
    box-sizing: border-box;
    border: 0.5px solid rgb(0, 0, 0, 0.15);
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
}

.yearSelector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
}

.yearSelector button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
}

.monthGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.month {
    padding: 10px 0;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
}

.month:hover {
    background-color: #f0f0f0;
}

.selected {
    background-color: #d1e7dd;
    color: #000;
    font-weight: bold;
}
