.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
}

.dropdownContainer select {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.titleContainer {
  flex: 1;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.iconButtons {
  display: flex;
}

.iconButton {
  background-color: #ffffff;
  padding: 4px;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.iconButton:hover,
.iconButton:active {
  background-color: #bce5fc;
}

.iconButton svg {
  font-size: 20px;
  color: #333;
}
