@font-face {
  font-family: "paybooc-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff2")
      format("woff2"),
    url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff")
      format("woff");
  font-style: normal;
}

body {
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
}

.total-grade-box {
  width: 25%;
  height: 300px;
  align-content: center;
  border: 0.5px solid rgb(0, 0, 0, 0.15);
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
  margin: 5px 5px 5px 0px;
}

#dateSelect {
  border: 0.5px solid rgb(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 120px;
  margin: 0px 5px;
}
.grade {
  font-family: "paybook-ExtraBold-otf";
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  color: #2c70f4;
  text-align: center;
}

.total {
  font-size: 20px;
  color: #2c70f4;
  text-align: center;
}

select {
  color: rgb(0, 0, 0, 0.5);
  font-family: "paybooc-Bold";
  border: 0.5px solid rgb(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 120px;
  margin: 0px 5px;
}

.date-select-box {
  width: auto;
  height: 40px;
  background-color: white;
  border: 0.5px solid rgb(0, 0, 0, 0.15);
  align-content: center;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
}

.date-select-component {
  display: flex;
  float: left;
}

.grade-chart {
  display: grid;
  width: 50%;
  height: 300px;
  justify-content: center;
  align-items: center;
  border: 0.5px solid rgb(0, 0, 0, 0.15);
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
  margin: 5px 5px 5px 0px;
}

.grid {
  display: flex;
  flex-direction: row;
}

.column {
  width: auto;
  margin: 5px 0px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  flex: 1;
}

.column_content {
  width: 250px;
  height: 31%;
  border: 0.5px solid rgb(0, 0, 0, 0.15);
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
}
