@import "../../../../../../styles/Common.css";

.contractTemplate {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 900px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 10px;
}

.contractForm {
  width: 90%;
  height: 85%;
  padding-left: 100px;
  padding-top: 50px;
  overflow: scroll;
}

.contractTitle input {
  height: 35px;
  width: 50%;
  padding: 10px;
  padding-right: 35px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  margin-left: 10px;
}

.contractTitle input:focus {
  border-color: black;
  outline: none;
}

.contractDate {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  text-align: start;
  padding-top: 20px;
  gap: 0px;
}

.contractInfo,
.evaluationItemsInfo {
  width: 90%;
}

.companyInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 500px;
}
.companyNameLabel input {
  margin-left: 23px;
}

.companyData {
  height: 35px;
  width: 354px;
  padding: 10px;
  padding-right: 35px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  margin-left: 10px;
}

.companyData:focus {
  border-color: black;
  outline: none;
}

.calendarIcon {
  position: relative;
  cursor: pointer;
  font-size: 24px;
  top: 20px;
  left: -30px;
  transform: translateY(-50%);
  color: #888;
}

.calendarModal {
  position: absolute;
  z-index: 1000;
}
