.contractListForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 900px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 10px;
  align-items: center;
}

.contractListInfo {
  width: 80%;
  height: 850px;
  overflow-y: scroll;
}

.ContractTitle {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
}

.contractListTable {
  margin-right: 20px;
}
