.evaluationItemInfoForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 700px;
  background-color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  gap: 5px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}
.evaluationItemInfoDetail {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 650px;
}

.evaluationItemTitle {
  font-size: 24px;
  font-weight: 600;
}

.taskTableDetail {
  margin-bottom: 5px;
}

.evaluationDeleteBtn {
  margin-left: auto; /* 버튼을 오른쪽 끝으로 이동 */
}

.evaluationItemHead {
  display: flex;
  flex-direction: column;
}

.evaluationDeleteBtn button {
  width: 98px;
  height: 30px;
  background-color: var(--main--color);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.evaluationDeleteBtn button:hover {
  background-color: #1d2637;
}
