.chartTableContainer {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chartTable {
  width: 100%;
  border-collapse: collapse;
}

.chartTable th,
.chartTable td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.chartTable th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.chartTable td {
  background-color: #fff;
}
