.chartTableContainer {
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
}

.chartTable {
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
  max-width: 1063px;
}

.chartTable table {
  box-shadow: none;
}

.chartTable th,
.chartTable td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: none;
}

.chartTable th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.chartTable td {
  background-color: #fff;
  height: 30px;
}
