.goalTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.goalTable th,
.goalTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.criteriaTable th,
.goalTable th {
  background-color: #f8f8f8;
  font-weight: bold;
  font-size: 60%;
}

.criteriaTable tbody tr td,
.goalTable tbody tr td {
  background-color: #fff;
  font-size: 60%;
}

.criteriaTable {
  margin-bottom: 40px;
}

h2 {
  font-size: 1em;
  margin-bottom: 5px;
  color: #333;
  text-align: left;
  justify-content: left;
}
